# output
*/build
/build
*.out
*/*.out


# finder
.DS_Store

#.idea
/.idea

# xcode
algo.xcodeproj

# .vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json




.vscode/settings.json
/.vscode/c_cpp_properties.json
/.vscode/tasks.json
